@import url('https://fonts.googleapis.com/css2?family=Kalnia&family=Outfit&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    width: 100%;
    background-color: rgb(240, 240, 240)
}

.navbar{
    background-color: rgba(12, 146, 199, 0.5) ;
}

#div-nav p{
    font-family: 'Kalnia', serif;
    font-size: 35px;
    color: rgb(0, 76, 138);
    text-decoration: none;
}


#principal{
    width: 100%;
    height: 100vh;
    padding: 10px;
    background-image: url(/imagens/plano-de-fundo-de-viagens-de-design_23-2149193475.jpg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
}

.botoes-cadastro{
    width: 100vw;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    border-radius: 5px;
    padding: 5px;
    background-color: rgba(12, 146, 199, 0.5);
}

#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Cor semi-transparente */
}

#form-container {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    padding: 20px;
    background-color: #f2f2f2;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

#show-form-btn {
    cursor: pointer;
    padding: 10px;
    background-color: #3071ff;
    color: white;
    border: none;
    border-radius: 5px;

}

#close-form-btn{
    background-color: red;
    border: none;
}

.card-body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cards{
    visibility: hidden;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 20px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    gap: 10px;
}


.btn-delete{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 4vh;
    border-radius: 5px;
    background-color: red;
    border: none;
}

.card-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.titulo{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    width: 15rem;
    height: 40vh;
    border-radius: 10px;
}

.text-center a{
    text-decoration: none;
}

.text-center {
    font-family: 'Outfit', sans-serif;
    background-color: rgba(12, 146, 199, 0.5) ;
    font-size: 20px;
    color: rgb(0, 76, 138);
    text-decoration: none;
}

#janelar-cards{
    border-radius: 5px;
}

@media (max-width: 488px) {

    .cards{
        justify-content: center;
    }
}